@import "~@rmwc/data-table/data-table.css";

.table {
    width: 100%;
    height: 100%;
}

.table__content {
    width: 100%;
}

.table-head-image__cell {
    width: 1px;
}

.table-head__cell, .table-body__cell {
    border: none;
}
